h1 {
    margin: 0px;
    padding: 20px 0px 0px 0px;
}
table {
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
}
td, th {
    padding: 5px;
}
mark {
    color: green;
    background: white;
}
.main_container, #Form2_container, #Form3_container, #Form4_container, #Form5_container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.all_articles {
    box-shadow: 0 3px 15px rgba(103,122,141,0.17);
    background: #fff;
    width: 70%;
    text-align: justify;
    margin: 8px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all_articles:hover {
    box-shadow: 0 3px 15px rgba(103,122,141,1);
}
#first_array_numbers, #second_array_numbers {
    margin: 8px 0px;
}
#make_array_button {
    margin: 8px;
}
#Form2_container, #Form3_container, #Form4_container, #Form5_container {
    width: 100%;
}
#first_task, #second_task, #third_task, #fourth_task, #fifth_task {
    margin: 20px;
}
#textarea4_text {
    width: 70%;
}
#output_table {
    margin: 20px;
}