body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 17px;
}
a {
    text-decoration: none;
    color: #989797;
}
.active {
    color: #f0bc00;
}
li {
    display: block;
}
.footer_container {
    background: #222222;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    height: 100px;
}
.footer_navigation {
    padding-top: 35px;
}
.footer_navigation li {
    padding: 5px;
}
.footer_navigation ul {
    padding: 0;
    margin: 0;
}
.footer_navigation ul a:hover{
    color: #f0bc00;
}
.footer_navigation ul li{
    display: inline-block;
}
.footer_copyright {
    width: 100%;
    color: #989797;
    margin: 10px 0px 10px 0px;
    font-size: 13px;
}