.main_container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main_container h1 {
    margin: 0px 0px 10px 0px;
    text-align: center;
    color: black;
}
.all_articles {
    box-shadow: 0 3px 15px rgba(103,122,141,0.17);
    background: #fff;
    width: 70%;
    text-align: justify;
    margin: 8px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all_articles:hover {
    box-shadow: 0 3px 15px rgba(103,122,141,1);
}
#introduction_image, #geographical_image, #education_image {
    padding: 20px 0px 20px 0px;
    width: 90%;
}
#introduction_text, #geographical_description, #education_description {
    width: 90%;
    padding: 0px 0px 20px 0px;
}